@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    margin-top: 150px;
    text-align: center;
}
.header{
    background: url('../img/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 900px;
}
.header::before{
    content: " ";
    position: absolute;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(226,149,120,1) 0%, rgba(240,105,47,1) 0%, rgba(214,136,102,1) 52%, rgba(213,138,105,1) 91%, rgba(197,157,138,1) 100%, rgba(0,212,255,1) 100%);
    opacity: .8;
    width: 100%;
    height: 100%;
}
.navbar-light .navbar-brand {
    font-size: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link a{
    color: #f7cb88;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f7cb88;
}
.nav-item {
    margin-left: 20px;
}
.header-text{
    padding-top: 150px;
    text-align: center;
}
.header-text h2{
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
}
.header-text h1{
    font-size: 150px;
    color: #fff;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}
.header-text h1::after{
    content: "";
    display: block;
    margin: 0 auto;
    background: #fff;
    width: 10%;
    height: 4px;
}
.btn-primary-head{
    border: 3px solid #fff;
    background: transparent;
    font-size: 19px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.btn-primary-head:hover{
    border: 3px solid transparent;
    background: #fff;
    color: #333333;
}

/* ==============================
     about 
   ==============================
*/
.about-us-text h4{
    font-size: 30px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
}
.about-us-text h2{
    font-size: 35px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
}
.about-us-text h2::after{
    content: "";
    display: block;
    background: #e29578;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10%;
    height: 4px;
}
.about-us-text p{
    font-size: 20px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 40px 0;
}


.about-img-box img{
    max-width: 100%;
}
.about-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
}
.about-text i{
    color: #fff;
    font-size: 40px;
}
.about-text .bold {
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
}
.about-box{
    position: relative;
}
.about-box::before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(226,149,120,1) 0%, rgba(240,105,47,1) 0%, rgba(214,136,102,1) 52%, rgba(213,138,105,1) 91%, rgba(197,157,138,1) 100%, rgba(0,212,255,1) 100%);
        opacity: .9;
        transition: 1s;
        visibility: hidden;
}

.about-box:hover .about-text{
    visibility: visible;
}

.about-box:hover::before{
    visibility: visible;
    width: 100%;
    transition: 1s;
}


/*  ====================
      time-table 
    ====================
*/

.time-table{
    background: #95e1d3;
    min-height: 200px;
}
.time-box {
    padding: 45px 0;
}
.time-box::before {
        content: "";
        position: absolute;
        height: 199px;
        width: 2px;
        background: #fff;
        top: 0%;
        left: 0%;
}
.time-box:last-child:after {
    content: "";
    position: absolute;
    height: 199px;
    width: 2px;
    background: #fff;
    top: 0%;
    left: 0%;
}
.time-box span{
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.time-box h4{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.service-text h4{
    font-size: 30px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
}
.service-text h2{
    font-size: 35px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.service-text h2::after{
    content: "";
    display: block;
    background: #e29578;
    position: absolute;
    top: 75%;
    left: 45%;
    width: 10%;
    height: 4px;
}
.service-box{
    display: flex;
    align-items: center;
}
.service-box h4 {
    font-size: 22px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding: 0 20px;
    text-transform: uppercase;
}
.service-box p{
    font-size: 15px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: justify;
    padding: 0 20px;
}
.services-section{
    margin: 65px 0;
}
.icon{
    font-size: 40px;
    color: aquamarine;
}
.hr{
    margin: 30px 0;
}
/*  device-section  */
.device{
    overflow: hidden;
    min-height: 800px;
    background: url('../img/Rectangle\ 21.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.device::before{
    content: "";
    background: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: .8;
}
.device-text{
    padding-top: 120px;
}
.device-text h4{
    font-size: 30px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;

}
.device-text h2{
    font-size: 35px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.device-text h2::after{
    content: "";
    display: block;
    background: #e29578;
    position: absolute;
    top: 27%;
    left: 48%;
    width: 4%;
    height: 4px;
}
.dev-phone{
    position: absolute;
    top: 49%;
    left: 56%;
    z-index: 10000000 !important;
}
/*  ======================================================
service 
 ====================================================== */
.service-section{
    overflow: hidden;
    position: relative;
    z-index: 1 !important;
}
.text-service h4{
    font-size: 30px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
}
.text-service h2{
    font-size: 35px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.text-service h2::after{
    content: "";
    display: block;
    background: #e29578;
    position: absolute;
    top: 35%;
    left: 48%;
    width: 5%;
    height: 4px;
}
.text-service p{
    font-size: 20px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 40px 0;
}
.img-left-service img{
    max-width: 100%;
}
.text-left {
    font-size: 15px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.text-left:hover {
    color: #95e1d3;
    text-decoration: none;
}
.text-left:active {
    color: #95e1d3;
    text-decoration: none;
}
.accord{
    color: #95e1d3;
    font-size: 20px;
}
.card-body p{
    color: #999999;
    font-size: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/* quote section starts */
.quote{
    min-height: 295px;
    background: #f8f8f8;
}
.quote i {
    color: #95e1d3;
    font-size: 109px;
    border: 5px solid #95e1d3;
    height: auto;
    width: auto;
    padding: 20px 15px;
}
.item{
    margin: 50px 0;
    display: flex;
}
.item img{
    max-width: 100%;
}
.item p {
    color: #999999;
    font-size: 18px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
}
.item h2 {
    /* text-align: left; */
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    width: 260px;
}
.item h2::before {
    content: "";
    display: block;
    background: #e29578;
    position: absolute;
    top: 62%;
    left: 23%;
    width: 4%;
    height: 3px;
}
.flex{
    padding: 0 90px;
}
/* team section starts */
.team-box{
    margin-right: 10px;
}
.team-box img{
    max-width: 100%;
}
.team-text  h4{
    font-size: 30px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    font-family: 400;
}
.team-text h2{
    font-size: 35px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.team-text h2::after{
    content: "";
    display: block;
    background: #e29578;
    position: absolute;
    top: 35%;
    left: 48%;
    width: 5%;
    height: 4px;
}
.team-text p{
    font-size: 20px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 40px 0;
}
.team-box h4{
    font-size: 30px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    font-family: 400;
    padding-top: 40px;
}
.team-box p{
    font-size: 18px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* logo section starts */
.logo{
    margin-top: 80px;
    background: #f8f8f8;
    padding: 20px 0;
}
.logo-section img{
    text-align: center;
}
/* gallery */
.gallery-box{
    position: relative;
}
.gallery-box:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(226,149,120,1) 0%, rgba(240,105,47,1) 0%, rgba(214,136,102,1) 52%, rgba(213,138,105,1) 91%, rgba(197,157,138,1) 100%, rgba(0,212,255,1) 100%);
    opacity: .7;
    visibility: hidden;
    transition: 1s;
}
.gallery-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
}
.gallery-box:hover .gallery-text-box{
    visibility: visible;
}

.gallery-box:hover::before{
    visibility: visible;
    width: 120%;
    transition: 1s;
}
.gallery-text-box i{
    color: #fff;
    font-size: 40px;
}
.gallery-text-box .bold {
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 400;
}
.gallery-text-box .light {
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
}
.gallery-text h4{
        font-size: 30px;
        color: #333333;
        font-family: 'Kaushan Script', cursive;
        text-transform: capitalize;
        font-family: 400;
    }
.gallery-text h2{
        font-size: 35px;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 35px;
        text-transform: uppercase;
        font-weight: bold;
    }
.gallery-text h2::after{
        content: "";
        display: block;
        background: #e29578;
        position: absolute;
        top: 35%;
        left: 48%;
        width: 5%;
        height: 4px;
    }
.gallery-text p{
        font-size: 20px;
        color: #999999;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        padding: 40px 0;
    }
.gallery-section{
    overflow: hidden;
}


/* =====================
      image-quote 
   =======================
*/
.image-quote{
    min-height: 295px;
    background: #f8f8f8;
    padding: 30px 0;
    margin: 0;
}
.item{
    margin: 50px 0;
    display: flex;
    align-items: center;
}
.image-quote p {
    color: #999999;
    font-size: 18px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
}
.image-quote h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
}
.image-quote img{
    width: 87%;
    height: auto;
}
.image-quote h2::before {
    content: "";
    display: inline-block;
    background: #e29578;
    width: 4%;
    height: 3px;
    position: absolute;
    top: 62%;
    left: 38%;
}
.flex{
    padding: 60px 90px;
}
/* clients */
.clients{
    margin: 0px;
    min-height: 835px;
    background: url('../img/client-bg-img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.clients::before{
    content: "";
    background: #fff;
    opacity: .8;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.client-text{
    padding: 100px 0;
}
.client-text h4{
    font-size: 30px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    font-family: 400;
}
.client-text h2{
    font-size: 35px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.client-text h2::after{
    content: "";
    display: block;
    background: #e29578;
    position: absolute;
    top: 63%;
    left: 47%;
    width: 7%;
    height: 4px;
}
.client-box{
    padding-bottom: 40px;
}
.client-image{
    padding: 0 20px;
}
.client-img-text h4 {
    display: block;
    width: 55%;
    font-size: 33px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    font-family: 400;
}
.client-img-text span {
    display: block;
    width: 33%;
    font-size: 12px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.client-img-text p {
    text-align: left;
    font-size: 12px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* padding: 40px 0; */
}
.client-img-text p::before {
    content: "";
    display: block;
    background: #e29578;
    position: absolute;
    top: 45%;
    left: 29%;
    width: 12%;
    height: 4px;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    padding: 30px 0;
}

/* blog section starts */
.stories-blog{
    margin-top: 90px;
}
.blog-text h4{
    font-size: 30px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    font-family: 400;
}
.blog-text h2{
    font-size: 35px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.blog-text h2::after{
    content: "";
    display: block;
    background: #e29578;
    position: absolute;
    top: 63%;
    left: 47%;
    width: 7%;
    height: 4px;
}
.blog-box{
    position: relative;
    cursor: pointer;
}
.blog-box img{
    max-width: 100%;
}
.date-box{
    background: #95e1d3;
    width: 22%;
    height: auto;
    padding: 0px 0px;
    position: absolute;
    top: 36%;
    left: -4%;
}
.blog-text{
    padding: 48px;
}
.blog-text-story{
    padding: 12px 0;
}
.blog-text-story h4{
    text-align: left;
    font-size: 18px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.blog-text-story p{
    text-align: left;
    font-size: 14px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.date-box span {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}
.date-box h4 {
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-transform: uppercase;
}
.blog-icon{
    text-align: left;
}
.blog-icon span{
    color: #999999;
    font-size: 18px;
    padding: 0px 10px;
}
.icon-blog{
    color: #95e1d3;
    font-size: 28px;
}
.eye-icon{
    padding: 0px 10px;
}

/* ============================= 
      map section starts 
================================
*/

.map-text{
    cursor: pointer;
}
.map{
    background: url('../img/map-section.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    position: relative;
}
.map::before{
    content: " ";
    background: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: .8;
}
.map-text{
    padding: 50px 0;
}
.map-text h4{
    font-size: 35px;
    color: #e29578;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.map-text h4::after{
    content: "";
    display: block;
    background: #e29578;
    position: absolute;
    top: 65%;
    left: 47%;
    width: 7%;
    height: 4px;
}
.map-icon {
    color: #e29578;
    font-size: 30px;
    padding: 10px 0;
}
/* ============================= 
             footer 
================================
*/

.footer{
    color: #f8f8f8;
    margin: 100px 0;
}
.form-footer{
    text-align: left;
    margin-top: 20px;
}
.form-footer form input[type="email"] {
    padding: 5px 7px;
    border: 3px solid #e6e6e6;
    border-radius: 3%;
}
.form-footer form input[type="button"] {
    background: #95e1d3;
    border: transparent;
    font-size: 15px;
    font-weight: 700;
    padding: 9px 32px;
    color: #fff;
    text-transform: uppercase;
    margin-left: -6px;
    transition: 1s;
}
.form-footer form input[type="button"]:hover {
    background: #64aa9d;
    border: transparent;
    transition: 1s;

}
::placeholder { 
    color: #999999;
    text-transform: capitalize;
    font-style: italic;
    opacity: 1; 
  }
.footer-box h4{
    text-align: left;
    color: #999999;
    font-size: 35px;;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.footer-box-middle h4{
    text-align: left;
    color: #333333;
    font-size: 18px;;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.footer-box-last h4{
    text-align: left;
    color: #333333;
    font-size: 18px;;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.footer-box p{
    text-align: left;
    font-size: 15px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 20px 0;
}
.footer-box span{
    text-align: left;
    color: #333333;
    font-size: 25px;;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 6px;
}
.footer-box h3{
    text-align: left;
    color: #999999;
    font-size: 15px;;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    font-weight: bold;
}
.icon-list{
    display: flex;
    align-items: center;
}
.icon-list ul{
    list-style-type: none;
}
.icon-list li{
    display: inline-block;
}
.icon-list h4{
    text-align: left;
    color: #999999;
    font-size: 17px;;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
}
.icon-list i{
    color: #95e1d3;
    padding: 0px 10px;
}
.footer-img-box{
    display: flex;
    margin: 20px 0;
    cursor: pointer;
}
.footer-img-box img{
    max-width: 100%;
}
.footer-img-box h4{
    color: #333333;
    font-size: 18px;;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
.footer-img-box-text{
    margin-left: 20px;
}
.footer-img-box-text h4 {
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    width: 300px;
}
.footer-img-box-text h3 {
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
}
.footer-box-last{
    margin: 0px 30px;
}
.footer-img-last{
    display: flex;
}